# Ignore MacOS system files
.DS_Store

# Ignore the cursorignore file
.cursorignore

# Ignore the environment (and virtual environment) directories
.venv/
.env

# Ignore log files
*.log
downloaded_logs/**
